body {
    font-family: 'Times New Roman', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f1f100;
}

.container {
    width: 800px;
    margin: 0 auto;
    background: rgb(235, 178, 178);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: hsl(11, 76%, 31%); /* Brown background color */
        color: white; /* White text color for contrast */
        padding: 20px;
        border-bottom: 2px solid #333;
}

.header-left {
    flex: 1;
}

.header-left h1 {
    margin: 0;
    font-size: 36px;
    letter-spacing: 1px;
}

.header-left p {
    margin: 0;
    font-size: 20px;
}

.header-right {
    flex: 1;
    text-align: right;
    font-size: 14px;
}

.header-right p {
    margin: 5px 0; /* Add margin to space out the paragraphs */
}

.profile-picture {

    text-align: center;
    margin-top: 20px;
}

.profile-picture img {
    width: 150px;
    height: 200px;
    border-radius: 100%;
}

.summary, .education, .skills {
    margin-top: 20px;
}

.summary p {
    text-align: justify;
}

.summary h2, .education h2, .skills h2 {
    border-bottom: 2px solid #333;
    display: inline-block;
    padding-bottom: 5px;
}

.skills .skill {
    margin: 10px 0;
}

.skills .bar {
    width: 100%;
    background: #ed2323;
    height: 10px;
    position: relative;
    border-radius: 5px;
}

.skills .bar div {
    height: 100%;
    border-radius: 5px;
}

.css {
    width: 70%;
    background: #ed7171;
}

.java {
    width: 60%;
    background: #ed7171;
}

.designing {
    width: 75%;
    background:#ed7171;
}

.leadership {
    width: 70%;
    background:#ed7171;
}

.computer {
    width: 85%;
    background: #ed7171;;
}

.developing {
    width: 65%;
    background: #ed7171;;
}